<form  class="form-horizontal"  [formGroup]="formulario" (ngSubmit)="onSubmit()" >
    

    <div class="form-group  col-sm-12 ">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" formControlName="nome"  [ngClass]="aplicaCssErroInvalid('nome')"
         class="form-control" id="nome" aria-describedby="nome"
         placeholder="nome">
    </div>

    <div [ngClass]="aplicaCssErroinvalidFeedback('nome')"  class="alert alert-danger" role="alert">
        Nome é obrigatório. 
    </div>

    <div class="form-group  col-sm-12">
        <label for="email" class="form-label">E-mail</label>
        <input type="email"  formControlName="email" class="form-control "
         [ngClass]="aplicaCssErroInvalid('email')" id="email" 
         placeholder="nome@email.com">
    </div>

    <div [ngClass]="aplicaCssErroinvalidFeedback('email')" class="alert alert-danger" 
          role="alert">
        {{!verificaEmailInvalido()? "E-mail é obrigatório." : "E-mail Inválido."}}
    </div>
        <div formGroupName="endereco">

            <div class="form-group row">
                <div class="form-group col-md-3">
                    <label for="cep" class="form-label">CEP</label>
                    <input type="text" id="cep" class="form-control" 
                    [ngClass]="aplicaCssErroInvalid('endereco.cep')" formControlName= "cep" >
                    
                    <div [ngClass]="aplicaCssErroinvalidFeedback('endereco.cep')" 
                        class="alert alert-danger" role="alert">
                        CEP é obrigatório.
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="numero" class="form-label">Número</label>
                    <input type="text" id="numero" class="form-control"  
                        [ngClass]="aplicaCssErroInvalid('endereco.numero')"  formControlName= "numero">
                    
                    <div [ngClass]="aplicaCssErroinvalidFeedback('endereco.numero')" 
                        class="alert alert-danger" role="alert">
                        Número é obrigatório.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="complemento" class="form-label">Complemento</label>
                    <input type="text" id="complemento" 
                            [ngClass]="aplicaCssErroInvalid('complemento')" 
                            class="form-control"  formControlName= "complemento">
                </div>
            </div>
            
            <div class="form-group">
                <label for="rua" class="form-label">Rua</label>
                <input  type="text" id="rua" [ngClass]="aplicaCssErroInvalid('endereco.rua')" 
                        class="form-control endereco" 
                        formControlName= "rua"  readonly>
                
                <div [ngClass]="aplicaCssErroinvalidFeedback('endereco.rua')" class="alert alert-danger"
                    role="alert">
                    Rua é obrigatório.
                </div>
            
            </div>

            <div class="row">
                <div class="col-md-5">
                    <label for="bairro" class="form-label">Bairro</label>
                    <input readonly type="text" id="bairro" class="form-control" 
                            [ngClass]="aplicaCssErroInvalid('endereco.bairro')"   formControlName= "bairro" >
                    
                    <div [ngClass]="aplicaCssErroinvalidFeedback('endereco.bairro')" 
                            class="alert alert-danger" role="alert">
                        Bairro é obrigatório.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="cidade" readonly class="form-label">Cidade</label>
                    <input type="text" id="cidade"[ngClass]="aplicaCssErroInvalid('endereco.cidade')" 
                            class="form-control"   formControlName= "cidade" >
                    
                    <div  [ngClass]="aplicaCssErroinvalidFeedback('endereco.cidade')" 
                            class="alert alert-danger" role="alert">
                        Cidade é obrigatório.
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="estado" readonly class="form-label">Estado</label>
                    <input type="text" id="estado"[ngClass]="aplicaCssErroInvalid('endereco.estado')"  
                            class="form-control" formControlName= "estado">

                    <div [ngClass]="aplicaCssErroinvalidFeedback('endereco.estado')"
                        class="alert alert-danger" role="alert">
                        Cidade é obrigatório.
                    </div>
                </div>
            </div> 
        </div>  
    <button type="submit" class="btn btn-primary">Submit</button>
    <button  (click)="resetar()" class="btn btn-secondary">Cancelar</button>

    
    <app-form-debug  [form]="formulario"></app-form-debug>
</form>
