<form  class="form-horizontal"  [formGroup]="formulario" (ngSubmit)="onSubmit()" >

   <app-input-field formControlName="nome" class=" col-sm-12 "
                    [classeCss]="aplicaCssErroInvalid('nome')"
                    id="nome" label="Nome"
                    [control] = "formulario.get('nome')" > </app-input-field>

    <!-- <div class="form-group  col-sm-12 ">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" formControlName="nome"  [ngClass]="aplicaCssErroInvalid('nome')"
         class="form-control" id="nome" aria-describedby="nome"
         placeholder="nome">
         <app-error-msg [control]="formulario.get('nome')" label="Nome"></app-error-msg>
    </div> -->

    <div class="form-group  col-sm-12">
        <label for="email" class="form-label">E-mail</label>
        <input type="email"  formControlName="email" class="form-control "
         [ngClass]="aplicaCssErroInvalid('email')" id="email"
         placeholder="nome@email.com">
         <app-error-msg [control]="formulario.get('email')" label="E-mail"></app-error-msg>
    </div>
    <!-- forma de verificar validação-->
   <!-- "formulario.get('email').status === 'PENDING'"-->
   <!-- "formulario.get('email').status === 'VALID'"-->
   <!--formulario.get('email')?.hasError('emailInvalido')-->



    <div class="form-group" [ngClass]="aplicaCssErroInvalid('confirmarEmail')">
      <div class="col-sm-12">
        <label for="confirmarEmail" class="control-label">Confirmar Email</label>
      </div>
      <div class="col-sm-12">
        <input type="confirmarEmail" class="form-control" formControlName="confirmarEmail" id="confirmarEmail" placeholder="nome@email.com">
        <app-error-msg [control]="formulario.get('confirmarEmail')" label="E-mail"></app-error-msg>
      </div>

    </div>
        <div formGroupName="endereco">

            <div class="form-group row">
                <div class="form-group col-md-3">
                    <label for="cep" class="form-label">CEP</label>
                    <input type="text" id="cep" class="form-control"
                    [ngClass]="aplicaCssErroInvalid('endereco.cep')"
                    formControlName= "cep" >

                    <app-error-msg [control]="formulario.get('endereco.cep')" label="CEP"></app-error-msg>
                </div>

                <div class="col-md-3">
                    <label for="numero" class="form-label">Número</label>
                    <input type="text" id="numero" class="form-control"
                        [ngClass]="aplicaCssErroInvalid('endereco.numero')"  formControlName= "numero">
                        <app-error-msg [control]="formulario.get('endereco.numero')" label="Número"></app-error-msg>
                </div>

                <div class="col-md-6">
                    <label for="complemento" class="form-label">Complemento</label>
                    <input type="text" id="complemento"
                            [ngClass]="aplicaCssErroInvalid('complemento')"
                            class="form-control"  formControlName= "complemento">
                </div>
            </div>

            <div class="form-group">
                <label for="rua" class="form-label">Rua</label>
                <input  type="text" id="rua" [ngClass]="aplicaCssErroInvalid('endereco.rua')"
                        class="form-control endereco"
                        formControlName= "rua"  readonly>
                        <app-error-msg [control]="formulario.get('endereco.rua')" label="Rua"></app-error-msg>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <label for="bairro" class="form-label">Bairro</label>
                    <input readonly type="text" id="bairro" class="form-control"
                            [ngClass]="aplicaCssErroInvalid('endereco.bairro')"   formControlName= "bairro" >
                            <app-error-msg [control]="formulario.get('endereco.bairro')" label="Bairro"></app-error-msg>
                </div>

                <div class="col-md-4">
                    <label for="cidade" readonly class="form-label">Cidade</label>
                    <input type="text" id="cidade"[ngClass]="aplicaCssErroInvalid('endereco.cidade')"
                            class="form-control"   formControlName= "cidade" >

                            <app-error-msg [control]="formulario.get('endereco.cidade')" label="Cidade"></app-error-msg>
                </div>

                <div class="col-md-3">
                    <label for="estado" readonly class="form-label">Estado</label>
                    <select type="text" id="estado"[ngClass]="aplicaCssErroInvalid('endereco.estado')"
                            class="form-control" formControlName= "estado">
                           <Option *ngFor="let estado of estados "[value]="estado.sigla" >{{estado.nome}}</Option>
                    </select>

                    <app-error-msg [control]="formulario.get('endereco.estado')" label="Estado"></app-error-msg>
                </div>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4" >
            <label for="cargo" class="control-label">Cargo</label>
            <select class="form-control" id="cargo" formControlName="cargo" [compareWith]="compararCargos">
              <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
            </select>
          </div>

          <div class="col-md-4" >
            <label for="newLetter" class="control-label">Tecnologias</label>
            <select multiple class="form-control" id="tecnologias" formControlName="tecnologias">
              <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
            </select>
          </div>

          <div class="col-md-3">
            <label for="newLetter" class="control-label">NewLetter</label>
              <div id="newLetter" class="row">
                <div class="col-sm-4 row" style="margin-right: 0px;" *ngFor="let item of newsLetterOp">
                  <label  class="radio-inline">
                    <input class="form-check-input" type="radio" [value]="item.valor" formControlName="newLetter">
                    {{item.desc}}
                  </label>
                </div>
              </div>
          </div>
        </div>
        <div class="form-group" >
          <div class="col-md-3"  [ngClass]="aplicaCssErroInvalid('termos')">
              <div class="checkbox">
                <input class="form-check-input" formControlName="termos"
                  type="checkbox"  required>
                <label class="checkbox-inline" style="margin-left: 5px;"> Aceito os termos.</label>
                <app-error-msg [control]="formulario.get('endereco.bairro')" label="Bairro"></app-error-msg>
              </div>
          </div>

          <div class="col-md-3" style="margin-top: 10px;">
            <label for="frameworks" >Frameworks</label>
            <div id="frameworks" class="row" style="margin-top: 5px;"  [ngClass]="aplicaCssErroInvalid('frameworks')">
              <div class="checkbox" class="col-sm-4"
                formArrayName="frameworks"
                *ngFor="let item of getFrameworksControls(); let i = index" >
                <label class="checkbox-inline">
                  <input type="checkbox" [formControlName]="i"> {{ frameworks[i] }}
                </label>
              </div>
              <app-error-msg [control]="formulario.get('frameworks')" label="Frameworks"></app-error-msg>
            </div>
        </div>
        </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
    <button  (click)="resetar()" class="btn btn-secondary">Cancelar</button>


    <app-form-debug  [form]="formulario"></app-form-debug>
</form>
