<mat-drawer-container class="container" autosize>

    <mat-drawer #drawer class="sidenav" mode="side">
    
      <mat-nav-list class="nav-list">
         <a mat-list-item routerLink="home">
             <i class="material-icons">home</i>
             Home
         </a>
         <!-- <a mat-list-item routerLink="/">
            <i class="material-icons">assessment</i>
            Lista Produtos
        </a> -->
        <a mat-list-item routerLink="produto">
            <i class="material-icons">library_add</i>
            Cadastro Produtos
        </a>
        <a mat-list-item routerLink="pedido">
            <i class="material-icons">local_grocery_store</i>
            Fazer Pedido
        </a>
        <a mat-list-item routerLink="/">
            <i class="material-icons">local_atm</i>
            Fechar Pedido
        </a>
        <a mat-list-item routerLink="/">
            <i class="material-icons">logout</i>
            Sair
        </a>
      </mat-nav-list>  

     </mat-drawer>

    <div class="sidenav-content">
 
      <div class="a">
        <button class="menu mat-elevation-z8"  (click)="drawer.toggle()" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>

      </div>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>